mixin sidebar(data)
	+b('aside').sidebar&attributes(attributes)
		+e.gallery
			+e.title
				+e('img').title-icon(src='assets/images/gallery.png')
				+e('span').title-text ФОТОГАЛЕРЕЯ ПРОДУКЦИИ
			+e('ul').list
				each item in data
					li
						a(href='gallery.html') #{item.text}