include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../container/container
include ../header/header
include ../sidebar/sidebar
include ../main/main
include ../footer/footer
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		+container
			+header
			+sidebar(getData('gallery'))
			+main
				block content
			+footer(getData('services'))
		+scripts(['app.min.js'])
