.main
	margin 10px 0 20px auto
	padding-bottom 10px
	display block
	overflow hidden
	width 100%
	max-width 520px
	background-color #e2e2e2
	border 1px solid #888
	border-radius 20px 0 0 20px
	box-shadow 2px 2px 10px #888
	&__title
		display flex
		justify-content center
		align-items center
		min-height 60px
		font-size 12px
		font-weight 700
		text-transform uppercase
		color #fff
		background linear-gradient(to bottom, #0a2a5e 0, #2989d8 69%, #2989d8 81%, #0a2a5e 100%)
