extends /blocks/layout-default/layout-default
include /blocks/section/section
include /blocks/title/title
include /blocks/framed-img/framed-img

block head
    - var pageTitle = 'О нас';
    - var aboutServices = ['лазерная резка', 'каркасные работы', 'сборка узлов и механизмов', 'токарные работы', 'фрезерные работы', 'обработка на станках с ЧПУ', 'раскрой материалов', 'слесарные работы', 'гравировка', 'все виды сварки'];
    - var aboutAdvantage = ['надежность и профессионализм', 'многолетний опыт работы', 'высококвалифицированные специалисты', 'обширный парк собственного современного оборудования', 'всегда имеем в наличии большой выбор материалов', 'индивидуальный подход, работаем с заказами от 1 единицы продукции', 'осуществляем изготовление как цельных металлоконструкций, так и отдельных узлов и заготовок', 'качественное выполнение заказов, в срок, без посредников и по доступным ценам'];

block content
    +e('h1').title
        | ПРОИЗВОДСТВО БЕЗ ПОСРЕДНИКОВ И ПО ДОСТУПНЫМ ЦЕНАМ!
    +section()
        +title('О компании "СМК"')
        +e('p').paragraph
            | Основным направлением деятельности компании является изготовление корпусных изделий различной степени сложности и всех видов комплектующих для приборостроения по чертежам и требованиям заказчика.
        +e.row.section__row--reverse
            +framed-img('assets/images/about1.png')
            +e.list
                +e('b').list-title Спектр предоставляемых услуг металлообработки:
                +e('ul').list-items
                    each item in aboutServices
                        +e('li').list-item #{item};
        +e('p').paragraph
            b Наша цель
            | - постоянное совершенствование с инвестициями на развитие производства и технологий, повышение квалификации персонала. На сегодняшний день предприятие превратилось в мощную производственную структуру, мы сотрудничаем не только с заказчиками Санкт-Петербурга и области, но и со многими регионами России. В связи с ростом объемов выполняемых заказов, постоянно расширяются производственные мощности.
        +e.row.section__row--reverse
            +framed-img('assets/images/about2.png')
            +e.list
                +e('b').list-title Наши преимущества:
                +e('ul').list-items
                    each item in aboutAdvantage
                        +e('li').list-item #{item};
        +e.paragraph
            | Мы ждем вас и выражаем уверенность в том что, обратившись к нам, вы получите квалифицированную профессиональную поддержку и внимательное отношение к вашим потребностям.
    +section()
        +title('Новости компании')
        +e.row
            +framed-img('assets/images/about3.png')
            +e.list
                +e('ul').list-items
                    +e('li').list-item
                        b Октябрь 2015.
                        | Введены в эксплуатацию токарно-револьверный центр с приводным инструментом ST-20SSY и вертикально-фрезерный обрабатывающий центр HAAS VF-2.
                    +e('li').list-item
                        b Август 2015.
                        | Получен сертификат соответствия системы менеджмента качества требованиям ГОСТ ISO 9001-2011.
                    +e('li').list-item
                        b Январь 2015.
                        | Наша компания отмечена федеральным сертификатом «ЛИДЕР РОССИИ 2014» в соответствии с Национальным бизнес-рейтингом.
                    +e('li').list-item
                        b Сентябрь 2014.
                        | В рамках переговоров о приобретении нового оборудования и инструмента наши представители посетили заводы HAAS и Mate Precision Tooling в США.
    +section()
        +title('Наши заказчики')
        +e('p').paragraph
            | Готовая продукция нашего производства используются для систем связи, радиоэлектронной промышленности и медицинской техники, приборостроения, охранных систем, в том числе систем пожарной безопасности и видеонаблюдения.
        +e.row.section__row--reverse
            +framed-img('assets/images/about4.png')
            +e('p').paragraph
                | Среди наших заказчиков такие фирмы как: ООО "Аквафор", ООО "Атомприбор", ОАО "ВНИИРА", ФГУП "Санкт-Петербургский завод "ГОСМЕТР", ОАО "Завод Измеритель", ЗАО "Институт Телекоммуникаций", ОАО "КВАРЦПРИБОР-М", ООО "НПФ Люмекс-Защита", ЗАО "МАССА-К", ЗАО "Медпром", ООО "НТЦ "Механотроника", ООО "ОЛИМП-ЛИФТ", ООО "ПКФ "СТАЗ", ОАО "РИРВ", ЗАО "Электро-Петербург" и многие другие.