extends /blocks/layout-default/layout-default
include /blocks/section/section
include /blocks/title/title
include /blocks/framed-img/framed-img

block head
    - var pageTitle = 'Контакты';

block content
    +e('h1').title
        | СПАСИБО ЗА ПРОЯВЛЕННЫЙ ИНТЕРЕС К НАШЕЙ КОМПАНИИ!
    +section()
        +e('p').paragraph
            | В случае заинтересованности в наших услугах, ждем Ваши заявки по факсу либо по электронной почте. На основании полученной информации, наши специалисты подготовят индивидуальное коммерческое предложение или предоставят необходимые консультации.
    +section()
        +e.row-contacts
            +e('b').row-label Контактные телефоны:
            +e.row-val-block
                +e('span').row-value Офис: (с 8:30 до 17:00) т. 307-17-17, т. 329-79-85
                +e('span').row-value Склад: (с 8:00 до 16:00) т. 329-79-86
        +e.row-contacts
            +e('b').row-label E-mail:
            +e('span').row-value smkspb@list.ru
        +e.row-contacts
            +e('b').row-label График работы:
            +e('span').row-value Пн-Пт - с 8:00 до 17:00 Сб-Вс - выходной
        +e.row-contacts
            +e('b').row-label Реквизиты компании:
            +e.row-val-block
                +e('span').row-value Зам. генерального директора по производству
                +e('span').row-value +7-911-723-12-21 - Коровченко Всеволод Всеволодович
                +e('span').row-value +7-921-989-26-63 - Кольцов Антон Александрович
                br
                +e('span').row-value Начальник производства
                +e('span').row-value +7-921-994-06-20 - Ильин Юрий Евгеньевич
                br
                +e('span').row-value Менеджер по работе с клиентами
                +e('span').row-value +7-911-725-53-35 - Катрич Виктория Геннадиевна



