extends /blocks/layout-default/layout-default
include /blocks/section/section
include /blocks/title/title
include /blocks/framed-img/framed-img

block head
	- var pageTitle = 'Главная';

block content
	+e('h1').title
		| МЕТАЛЛООБРАБОТКА НА ЗАКАЗ В САНКТ-ПЕТЕРБУРГЕ
	+section()
		+framed-img('assets/images/index1.png')
		+e('p').text
			b Металлообработка
			|  - это сложный технологический процесс, когда посредством применения различных методов обработки, целенаправленным образом изменяется форма и размер металлов и сплавов.
		+e('p').text
			|  Надежность любой металлоконструкции зависит от качества проведенной металлообработки и очень важно доверить ее выполнение профессионалам, имеющим специальное технологическое оборудование и опыт работы в данном направлении.
	+section()
		+title('Основные направления производства')
		+e.image-links
			+e('a').image-link(href='#')
				img(src='assets/images/index2.png')
				+e('span').image-link-top Металлообработка
				+e('span').image-link-bottom лазерная резка
			+e('a').image-link(href='#')
				img(src='assets/images/index3.png')
				+e('span').image-link-top Металлообработка
				+e('span').image-link-bottom штамповка и гибка
			+e('a').image-link(href='#')
				img(src='assets/images/index4.png')
				+e('span').image-link-top Металлообработка
				+e('span').image-link-bottom на станках ЧПУ
		+e('p').text
			| Наша компания предоставляет практически полный спектр услуг металлообработки: раскрой материалов, лазерная резка, слесарно-каркасные и штамповочные работы, токарно-фрезерная обработка, в том числе на станках с ЧПУ, все виды сварки, гравировка.
	+section()
		+title('Ценообразование и сроки')
		+e('p').text
			| Для формирования стоимости каждой отдельной позиции заказа, технологическим отделом составляется маршрутная карта обработки детали, согласно которой, программным способом вычисляется себестоимость и цена продукции. Учитывается стоимость материала, обработки, покрытия согласно предоставленной КД (если в заказе не указано иное).
		+e('p').text
			| Обратите внимание, что ввиду специфики большинства технологических операций металлообработки, цена за единицу продукции может значительно отличаться в зависимости от величины заказанной партии.
		+e('p').text
			| Сроки расчета заявок технологическим отделом – в течении 5 дней, в зависимости от общей загрузки и объема позиций в заказе.
		+e('p').text
			| Стандартные сроки производства после получения оплаты либо гарантийного письма – в течении 20 рабочих дней, если требуется покрытие, в течении 15 рабочих дней – без покрытия. Можем рассмотреть возможность срочного изготовления в индивидуальном порядке.