extends /blocks/layout-default/layout-default
include /blocks/section/section
include /blocks/title/title
include /blocks/framed-img/framed-img

block head
    - var pageTitle = 'Производство';

block content
    +e('h1').title
        | УСЛУГИ МЕТАЛЛООБРАБОТКИ, ПРЕДОСТАВЛЯЕМЫЕ ООО "СМК"
    +section()
        +e('p').paragraph
            b ООО "СМК" предлагает Вам
            | практический полный спектр услуг по металлообработке:
        +e.row
            +framed-img('assets/images/production1.png')
            +e.list
                +e('ul').list-items
                    +e('li').list-item
                        a(href='#') ИЗГОТОВЛЕНИЕ НА СТАНКАХ С ЧПУ
                    +e('li').list-item
                        a(href='#') ВСЕ ВИДЫ ЛИСТООБРАБОТКИ
                    +e('li').list-item
                        a(href='#') ЛАЗЕРНАЯ РЕЗКА И ГРАВИРОВКА
                    +e('li').list-item
                        a(href='#') ТОКАРНО-ФРЕЗЕРНАЯ ОБРАБОТКА
                    +e('li').list-item
                        a(href='#') СБОРКА И ВСЕ ВИДЫ СВАРКИ
    +section()
        +e.row.section__row--reverse
            +framed-img('assets/images/production2.png')
            +e.text
                +e('p').paragraph
                    | Производственные площади порядка 2000 кв.м. арендованы на территории ОАО "Ленинградский оптико-Механический Завод". Прежде всего, следует отметить, что наше производство обеспечивается качественным, сертифицированным сырьем и инструментом. Отдельно выделены склад материалов, инструмента, готовой продукции. Специалисты предприятия работают на рынке металлообработки и производства корпусных изделий с 2000 г. Профессиональный уровень сотрудников позволяет выпускать изделия сложных и простых конструкций, как малых, так и крупных партий, полностью подготовленные для проведения монтажных работ.
        +e('p').paragraph
            | Выборочный контроль продукции проходит на всех этапах производства мастерами участков. На склад готовой продукции изделия поступают только после проверки ОТК. Система менеджмента качества нашего предприятия подтверждена
            a(href='#') сертификатом
            | и соответствует требованиям ГОСТ ISO 9001-2011.
    +section()
        +e('p').paragraph
            | ООО "СМК" широко использует элементы внешней кооперации, предоставляя возможность проведения дополнительных видов обработки:
        +e.row.section__row--reverse
            +framed-img('assets/images/production3.png')
            +e.list
                +e('ul').list-items
                    +e('li').list-item
                        | различные виды гальванических покрытий
                    +e('li').list-item
                        | проведение лакокрасочных и полимерно-порошковых покрытий
                    +e('li').list-item
                        | нанесение надписей на готовые изделия методом шелкографии
                    +e('li').list-item
                        | термообработка заготовок и конечной продукции
                +e('p').paragraph
                    | По согласованию выполняется промывка, химическое травление либо матирование готовых изделий, для которых не предусмотрено покрытие.
        +e('p').paragraph
            | Имеется возможность доставки по Санкт-Петербургу (по договоренности), а также доставки продукции по территории РФ (договор с транспортно-экспедиторской компанией "Автотрейдинг" и компанией СПСР-ЭКСПРЕСС).
    +section()
        +title('Образцы продукции')
        +e('p').paragraph
            | За годы работы перечень произведенной номенклатуры превысил 10 тыс наименований. Компания выпускает корпуса и комплектующие для приборостроения по чертежам и требованиям заказчика. Производство "под склад" ведется только в рамках долгосрочных договоров.
        +e('img').img(src='assets/images/production4.png' alt='production4')
        +e('p').paragraph
            | Продемонстрировать весь спектр продукции не представляется возможным, поэтому предлагаем ознакомиться с отдельными фотографиями, на наш взгляд, характеризующими основные направления обработки и возможности нашего оборудования в фотогалерее продукции (меню навигации слева).
