extends /blocks/layout-default/layout-default
include /blocks/section/section
include /blocks/title/title
include /blocks/framed-img/framed-img

block head
    - var pageTitle = 'Вакансии';

block content
    +e('h1').title
        | В ООО "СМК" ОТКРЫТЫ СЛЕДУЮЩИЕ ВАКАНСИИ:
    +section()
        +e('p').paragraph
            | В последние годы были инвестированы крупные средства на приобретение современного высокотехнологичного оборудования оснащенного системами ЧПУ для всех производственных участков, что позволило создать ряд новых рабочих мест. В связи с этим возникла потребность в молодых, инициативных специалистах, способных к обучению и стремящихся к карьерному росту.
    +section()
        +title('Открытые вакансии СМК:')
        +e.row
            +framed-img('assets/images/vacancies.png')
            +e.list
                +e('ul').list-items
                    +e('li').list-item Оператор-наладчик фрезерных станков с ЧПУ (HAAS). Опыт работы обязателен.
                    +e('li').list-item Слесарь механосборочных работ (штамповка, рихтовка, гибка, слесарно-сверлильные и резьбонарезные работы). Опыт работы обязателен.
                    +e('li').list-item Менеджер по работе с клиентами (знание технологии металлообработки).
    +section()
        +e('p').paragraph
            | Прежде всего, мы заинтересованы в формировании доброжелательных отношений в сильном сплоченном коллективе, мы приветствуем людей, обладающих:
        +e.list
            +e('ul').list-items
                +e('li').list-item высоким профессионализмом
                +e('li').list-item настойчивостью в стремлении к развитию
                +e('li').list-item умением работать в команде
                +e('li').list-item корректностью и ответственностью
        +e('p').paragraph
            | Со своей стороны мы гарантируем:
        +e.list
            +e('ul').list-items
                +e('li').list-item Стабильную заработную плату
                +e('li').list-item Полный социальный пакет
                +e('li').list-item Достойные условия работы
                +e('li').list-item Дружный коллектив
                +e('li').list-item Возможность обучения и карьерного роста
